.era {
  position: relative;
  margin-bottom: 120px;
  overflow-x: hidden;
}
.era::before {
  content: "";
  position: absolute;
  top: 270px;
  left: calc(50% + 8px);
  width: 741px;
  height: 151px;
  z-index: 2;
  background-image: url("../../images/about-vector-lleft.svg");
  background-size: 741px 151px;
  background-repeat: no-repeat;
}
.era::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% + 617px);
  width: 445px;
  height: 445px;
  z-index: -1;
  background-image: url("../../images/square-blue.png");
  background-size: 445px;
  background-repeat: no-repeat;
}
.era__inner {
  display: flex;
  align-items: center;
  max-width: 1106px;
  width: 100%;
  justify-content: space-between;
}
.era__main {
  max-width: 445px;
  width: 100%;
}
.era__main-heading {
  color: #495567;
  font-family: "Space Mono";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -2.143px;
}
.era__main-text {
  color: #939caa;
  font-family: "Lexend Deca";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 167%;
  margin-top: 24px;
}
.era__inner-img {
  border-radius: 50%;
  width: 445px;
  height: 445px;
}
@media only screen and (max-width: 1200px) {
  .era {
    &::before {
      content: none;
    }
    &::after {
      content: none;
    }
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 1140px) {
  .era__inner {
    max-width: 1200px;
    width: 100%;
    justify-content: center;
    gap: 70px;
  }
}
@media only screen and (max-width: 900px) {
  .era__inner-img {
    width: 425px;
    height: 425px;
  }
  .era__inner {
    gap: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .era {
    overflow-x: hidden;
  }
  .era::before {
    content: "";
    position: absolute;
    top: 260px;
    left: calc(50% - 340px);
    width: 741px;
    height: 151px;
    z-index: 2;
    background-image: url("../../images/about-vector-lleft.svg");
    background-size: 741px 151px;
    background-repeat: no-repeat;
  }
  .era::after {
    content: none;
  }
  .era__inner:nth-child(odd) {
    flex-direction: column-reverse;
    max-width: 768px;
    width: 100%;
  }
  .era__main {
    width: 100%;
    max-width: 573px;
    text-align: center;
  }
  .era__main-heading {
    color: #495567;
    max-width: 457px;
    width: 100%;
    margin: 0;
    margin: 0 auto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -2.143px;
    margin-top: 64px;
  }
  .era__main-text {
    max-width: 573px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 440px) {
  .era {
    &::before {
      width: 735px;
      height: 138px;
      top: 170px;
      left: calc(50% - 180px);
      background-size: 735px 138px;
    }
    &::after {
      content: none;
    }
    overflow-x: hidden;
  }
  .era__inner:nth-child(odd) {
    flex-direction: column-reverse;
    max-width: 440px;
    width: 100%;
  }
  .era__main {
    width: 100%;
    max-width: 376px;
    text-align: center;
  }
  .era__main-heading {
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
    color: #495567;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.429px;
  }
  .era__main-text {
    color: #939caa;
    max-width: 376px;
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .era__inner-img {
    width: 376px;
    height: 376px;
    margin-bottom: 56px;
  }
}
@media only screen and (max-width: 375px) {
  .era__inner-img {
    width: 320px;
    height: 320px;
    margin-bottom: 56px;
  }
}
