.blog {
  margin-bottom: 160px;
}
.blog__list {
  list-style-type: none;
}
.blog__item {
  display: flex;
  align-items: center;
  max-width: 1110px;
  width: 100%;
  justify-content: space-between;
  padding: 32px 64px 35px 40px;
  background-color: #f2f5f9;
  margin-bottom: 24px;
}
.blog__item-mb {
  margin-bottom: 0;
}
.blog__title-box {
  max-width: 315px;
  width: 100%;
}
.blog__title-box-subtitle {
  color: #495567;
  font-family: "Space Mono";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 117%;
  letter-spacing: -1.071px;
  margin-bottom: 8px;
}
.blog__title-box-text {
  color: #495567;
  font-family: "Lexend Deca";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 167%;
}
.blog__link-box {
  max-width: 180px;
  width: 100%;
}
.blog__link-box-link {
  color: #fff;
  text-align: center;
  font-family: "Space Mono";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 167%;
  display: inline-block;
  background: #fcb72b;
  padding: 14px 68px;
  text-decoration: none;
  border: 3px solid transparent;
}
.blog__link-box-link:hover {
  border: 3px solid #fcb72b;
  cursor: pointer;
  background-color: transparent;
  color: #fcb72b;
}
@media only screen and (max-width: 700px) {
  .blog__title-box {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 565px) {
  .blog__title-box {
    text-align: center;
    margin-bottom: 16px;
    margin-right: 0;
  }
  .blog__item {
    padding: 32px;
    flex-direction: column;
  }
  .blog__link-box {
    max-width: 247px;
    width: 100%;
  }
  .blog__link-box-link {
    padding: 14px 98px;
  }
}
@media only screen and (max-width: 375px) {
  .blog__link-box {
    max-width: 180px;
    width: 100%;
  }
  .blog__link-box-link {
    padding: 14px 68px;
  }
}
