.service {
  margin-bottom: 200px;
  overflow-x: hidden;
}
.service__main-span-box {
  position: relative;
  display: flex;
  align-items: center;
  width: 856px;
  justify-content: space-between;
  margin-top: 160px;
}
.service__main-span-box::before {
  content: "";
  position: absolute;
  top: 41px;
  left: calc(50% - 625px);
  width: 974px;
  height: 16px;
  z-index: -1;
  background-image: url("../../images/Path-2.png");
  background-size: 974px 16px;
  background-repeat: no-repeat;
}
.service__main-span {
  position: relative;
  width: 96px;
  height: 96px;
  background-color: #fcb72b;
  border-radius: 50%;
}
.service__main-span::before {
  content: "";
  position: absolute;
  top: 23px;
  left: calc(50% - 18px);
  width: 40px;
  height: 48px;
  z-index: 2;
  background-image: url("../../images/phone-service.svg");
  background-size: 40px 48px;
  background-repeat: no-repeat;
}
.service__main-span:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 23px;
  left: calc(50% - 18px);
  width: 40px;
  height: 48px;
  z-index: 2;
  background-image: url("../../images/001-scooter.svg");
  background-size: 40px 48px;
  background-repeat: no-repeat;
}
.service__main-span:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 23px;
  left: calc(50% - 17px);
  width: 40px;
  height: 48px;
  z-index: 2;
  background-image: url("../../images/Motocycle-service.svg");
  background-size: 40px 48px;
  background-repeat: no-repeat;
}
.service__main-list {
  list-style-type: none;
  width: 1106px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.service__main-item-title-box {
  width: 350px;
}
.service__main-title-box-heading {
  color: #495567;
  font-family: monospace;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 117%;
  letter-spacing: -1.071px;
  margin-bottom: 27px;
  margin-top: 40px;
}
.service__main-title-box-text {
  color: #939caa;
  font-family: "Lexend Deca";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 167%;
}
